.border-md {
  border-width: 2px;
}
body {
  background: #212121;
  align-items: center;
  justify-content: center;
}
body::-webkit-scrollbar {
  display: none;
}
.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}
.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}

#main_container{
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding: 40px;
}

@media only screen and (max-width: 400px) {
  #main_container{
    width: 100%;
    padding: 10px;
  }
}