<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>LOGIN</title>
</head>
<style>
    body {
        background-image: linear-gradient(to right, #000428 , #031b4d);
    }
</style>
<body>

{% if verified %}
<script>
    alert("Your account is verified successfully now you can user our services from the dashboard");
    window.location.replace("{% url 'writers_dashboard' %}");
</script>
{% else %}
{{msg}}
{% endif %}

</body>
</html>


