<body>
  <h1 style="color: black;">Welcome to Blogging pool</h1>
  <h2 style="color: black;">Hello {{ user.first_name }},</h2>
  <h3 style="color: black;">
    Please activate your account by clicking this button, and enjoy our services
    :)
  </h3>
  <a
    style="
      padding: 10px 10px 10px 10px;
      background-color: black;
      color: white;
      border-radius: 5px;
      text-decoration: none;
    "
    onMouseOver="this.style.color='#241919'"
    onMouseOut="this.style.color='black'"
    href="https://{{ domain }}{% url 'activate' uname_b64=uname token=token %}"
  >
    Activate your account
  </a>
  <br /><br /><br />
  <p style="color: black;">If you think, it's not you, then just ignore this email.</p>
</body>
