<body>
  <h1 style="color: black;">Welcome to Blogging pool</h1>
  <h2 style="color: black;">Hello {{ user.first_name }},</h2>
  <h3 style="color: black;">
    This is the link to reset your password, make it strong and unforgable this time :)
  </h3>
  <a
    style="
      padding: 10px 10px 10px 10px;
      background-color: black;
      color: white;
      border-radius: 5px;
      text-decoration: none;
    "
    onMouseOver="this.style.color='#241919'"
    onMouseOut="this.style.color='black'"
    href="https://{{ domain }}{% url 'reset_password' uname_b64=uname token=token %}"
  >
    Reset your password
  </a>
  <br /><br /><br />
  <p style="color: black;">This msg is from the blogging pool security team</p>
</body>
