{% extends 'base.html' %} {% load static %} {% block content %} 
{% if loggedin %} {% if email_not_verified %}
<div class="container mt-2 pt-5 p-0" align="center" style="height: 900px">
  <div class="row p-5" style="background-color: #e0e0e0" id="sent_email_before">
    <div class="col-lg-8" align="left">
      <p style="font-size: 20px">
        You email: {{user_email}} is not verified, please click the button to
        get a verification email and activate your account from the link from
        your email
      </p>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-dark" onclick="send_verification_email()">
        Send email
      </button>
    </div>
  </div>
  <div class="row p-5" style="background-color: #e0e0e0; display: none;" id="sent_email_after">
    <div class="col-lg-12" align="left">
      <p style="font-size: 25px">
        An account activation email has been sent to your email: {{user_email}}
        please check and activate the account
      </p>
    </div>
  </div>
  <div class="row mt-5 p-5" style="background-color: #e0e0e0">
    <h1 class="col-12" style="font-weight: bold">Your Dashboard</h1>
  </div>
</div>
<script type="text/javascript">
  function send_verification_email() {
    $.ajax({
      url: "/auth/ajax/verify_email",
      data: {},
      async: true,
      dataType: "json",
      success: function (data) {
        if ("verification" in data) {
          $("#sent_email_before").css("display", "none");
          $("#sent_email_after").css("display", "block");
        }
      },
    });
  }
</script>
{% else %}
<div class="container mt-5 pt-3 p-0">
  {% if drafts %}
  <div class="container p-0" id="draft_blogs">
    <div class="arrow_left">
      <button
        type="button"
        id="left_draft"
        onclick="scroll_left('draft_blogs')"
        class="btn btn-success rounded-circle scroll_left_btn"
      >
        <
      </button>
    </div>
    <div class="arrow_right">
      <button
        type="button"
        id="right_draft"
        onclick="scroll_right('draft_blogs')"
        class="btn btn-success rounded-circle scroll_right_btn"
      >
        >
      </button>
    </div>
    <h2 class="mt-4" style="font-weight: bold">DRAFTS</h2>
    <hr class="mb-0" />
    <div
      class="scrolling-wrapper row flex-row flex-nowrap mt-0 pt-2 pr-5 pl-5 pb-5"
      id="draft_blogs_inner"
      style="overflow-x: auto; scroll-behavior: smooth"
    ></div>
  </div>
  <!-- expanding in drafts container------------------------------------------------------------------------------->
  <script>
    var ind_drafts = 0;
  </script>
  {% for draft in drafts %}
  <script>
    var image_url = "";
    if ("{{draft.banner_image_url}}" == "None") {
      image_url = "{{draft.category_model.default_image_url}}";
    } else {
      image_url = "{{draft.banner_image_url}}";
    }
    console.log(image_url);
  </script>
  <script>
    expand_to_draft(ind_drafts, image_url, `{{draft.heading}}`, `{{draft.description}}`, {{draft.id}});
    ind_drafts++;
  </script>
  {% endfor %}
  <!-- This script handles the arrow buttons to be shown if card count if greater then 3 and
        A alter container to be shown if there is no any card in a particular container
        -->
  <script>
    $(window).on("load resize", function (e) {
      var dr_con = document.getElementById("draft_blogs_inner");
      if (dr_con.offsetWidth == dr_con.scrollWidth) {
        $("#right_draft").css("display", "none");
        $("#left_draft").css("display", "none");
      } else {
        $("#right_draft").css("display", "block");
        $("#left_draft").css("display", "block");
      }
    });
  </script>
  {% endif %}
  <h1 class="pl-3 mt-3" style="font-weight: bold">User Options</h1>
  <hr />
  <div id="creator_options" class="row">
    <div class="col-lg-3 mt-3 p-2 col-md-6 col-sm-12" align="center">
      <div
        class="d-block bg-dark p-3 opts"
        style="height: 250px; width: 90%; border-radius: 10px"
      >
        <p style="font-size: 30px" class="text-light">Create blog</p>
        <img height="100" src="{% static 'images/create_blog.png'%}" /><br />
        <a href="{% url 'create_blog' %}" class="btn btn-primary mt-3"
          >open <i class="fa fa-external-link"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 mt-3 p-2 col-md-6 col-sm-12" align="center">
      <div
        class="d-block bg-dark p-3 opts"
        style="height: 250px; width: 90%; border-radius: 10px"
      >
        <p style="font-size: 30px" class="text-light">User manual</p>
        <img height="100" src="{% static 'images/guide.png'%}" /><br />
        <a href="{% url 'create_blog' %}" class="btn btn-primary mt-3"
          >open <i class="fa fa-external-link"></i
        ></a>
      </div>
    </div>
  </div>

  <div id="published_blogs" class="pt-2 w-100">
    <h1 class="pl-3 mt-3" style="font-weight: bold">Published blogs</h1>
    <hr />
    <div class="row p-0 m-0" id="blogs_container">
      {% if not blogs %}
      <div
        class="container w-100"
        align="center"
        style="height: 300px; background-color: #a2a2a2"
      >
        <p style="margin-top: 100px">
          You don't have any pulished blogs <br />
          right now<br />
          :)
        </p>
        <a href="{% url 'create_blog' %}" type="button" class="btn btn-dark"
          >CREATE ONE</a
        >
      </div>
      {% endif %}
    </div>
  </div>
  <script>
    function append_related_blogs()
    {
            {% if blogs %}
                    {% for blog in blogs %}
                            var card_id = "upper_"+"{{blog.id}}";
                            $("#blogs_container").append("<div class='col-sm shadow p-0 ml-auto mr-auto mt-5' id='"+card_id+"' style='max-width: 16rem; min-width: 16rem; max-height: 390px; min-height: 390px;'></div>");
                            var card_id_inner = "inner_"+"{{blog.id}}";
                            $("#"+card_id).append("<div class='card border-0 p-0 m-0' style='width: 100%;' id='"+card_id_inner+"'></div>")
                            var image = "{{blog.banner_image_url}}";
                            $("#"+card_id_inner).append("<div class='card_image embed-responsive embed-responsive-16by9 border'><img class='card-img-top embed-responsive-item' src='"+image+"' alt='Card image cap'></div>")
                            $("#"+card_id_inner).append("<div class='container p-2 card_content'><h6 class='text-justify' style='max-height: 50px; min-height: 50px; overflow-y: hidden; '>"+`{{blog.heading}}`+"</h6><hr class='m-2'><p class='text-justify scroll_para' style='max-height: 100px; min-height: 100px; font-size: 13px; overflow-y: scroll;'>"+`{{blog.description}}`+"</p></div>");
                            var id = "{{blog.id}}";
                            var url_mask = "{% url 'blog_view' id_=12345 %}".replace(/12345/, id.toString());
                            $("#"+card_id_inner).append("<div class='container'><div class='float-left w-50 pr-3'><div class='w-100 m-0 row'><i class='fa fa-thumbs-up col-sm-inline m-auto' style='color: #5B6068; font-size: 20px;'></i><i class='fa fa-comment-o col-sm-inline p-0 m-auto' style='color: #5B6068; font-size: 20px;'></i><i class='fa fa-eye col-sm-inline m-auto p-0' style='color: #5B6068; font-size: 20px;'></i> </div><div class='w-100 m-0 inline row'><i class='m-auto col-sm-inline' style='color: #5B6068; font-size: 12px;'><b>"+"{{blog.likes}}"+"</b></i><i class='m-auto col-sm-inline' style='color: #5B6068; font-size: 12px;'><b>"+"{{blog.comments}}"+"</b></i><i class='m-auto col-sm-inline' style='color: #5B6068; font-size: 12px;'><b>"+"{{blog.views}}"+"</b></i></div></div><div class='float-right'><a type='button' href='"+url_mask+"' class='btn btn-dark float-right'>read</a></div></div>");
                    {% endfor %}
            {% endif %}
    }
    append_related_blogs();
  </script>
</div>

{% endif %} {% endif %} {% endblock %}
